{% extends "base.html" %}


{% block main_content %}

  {% for author in unscribed_list %}
    <p>{{ author }}</p>
    <form method="post" action="{% url 'blog_subscribe' author.pk %}">
      {% csrf_token %}
      <input type="submit" value="Подписаться" />
    </form>
  {% endfor %}

  {% for author in scribed_list %}
    <p>{{ author }}</p>
    <form method="post" action="{% url 'blog_unsubscribe' author.pk %}">
      {% csrf_token %}
      <input type="submit" value="Отписаться" />
    </form>
  {% endfor %}

{% endblock %}